{{ header }}{{ column_left }}
<div id="content">
    <d_social_share></d_social_share>
</div>
<script>
    var state = {{ state|json_encode(constant('JSON_FORCE_OBJECT')) }};
    riot.mixin({ store : d_social_share.createStore(state) })
    riot.mount('*')
//    route.start(true);
</script>
{{ footer }}





