.d-social-buttons-container {
  display: flex;
  padding: 1rem;
  a {
    text-decoration: none;
  }
  .d-social-button {
    //border: solid 1px grey;
    display: flex;
    align-items: center;
  }
  .outer_shadow {
    box-shadow: 2px 3px 6px #333 ;
  }
  .inner_shadow {
    box-shadow: inset 0 0 2px white;
  }
  .d-social-button-wrap{
    display: flex;
    align-items: center;
    margin-right:1rem;
  }
  .d-social-count-wrap{
    background-color: #fff;
    padding-right:1rem;
    box-shadow: 2px 3px 6px #333 ;
    height:100%;
    padding-left:1rem;
    display: flex;
    align-items: center;
    position: relative;
    $widht:7px;
    font-size:20px;
    &::before{
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $widht $widht $widht 0;
      border-color: transparent white transparent transparent;
      position: absolute;
      left:-$widht;
    }
  }
}
